.type {
  padding: 10px 30px;
  border-radius: 5px;
  background: var(--red, #ff6b6b);
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
