.hero__full {
  background: #eabf9f;
}

.hero__title {
  color: #01384d;
  font-family: Raleway;
  font-size: 90px;
  font-style: normal;
  font-weight: 800;
  line-height: 105px;
  width: 735px;
}

.hero {
  position: relative;
  margin-top: 52px;

  .categ__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin-top: 50px;
    width: 180px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 2px solid #01384d;
    background: #fff;

    color: #01384d;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .line {
    width: 250px;
    height: 3px;
    flex-shrink: 0;
    background-color: #fff;
    margin-top: 100px;
    margin-bottom: 68px;
    .span {
      display: block;
      width: 30%;
      height: 100%;
      background-color: #01384d;
    }
  }
}

.hero__right {
  img {
    width: 700px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 12;
  }
}
.left__bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 10px;
}

// STATISTICS

.statistics {
  margin-top: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .stat__number {
    color: #01384d;
    text-align: center;
    font-family: Raleway;
    font-size: 120px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .number__subtitle {
    color: #01384d;
    text-align: center;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.hero__right-two {
  display: none;
}

.products__title {
  color: #01384d;
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 75px;
}

.model__type {
  position: relative;
  color: #01384d;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 10px;
  box-sizing: border-box;
  opacity: 0.6;

  &::after {
    content: "";
    position: absolute;
    top: 38px;
    left: 5px;
    width: 90%;
    height: 2px;
    background: transparent;
  }

  &:hover {
    border-radius: 5px;
    background: #abbec5;
  }
  &.active {
    font-weight: 700;
  }
}

// Home
.home-card-title {
  color: var(--title-color, #01384d);
  text-align: center;
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 40px 0;
}
.home-boxs {
  display: flex;

  gap: 20px;
  overflow-x: auto;
  margin-bottom: 30px;

  h1 {
    color: #01384d;
    text-align: center;
    font-family: Raleway;
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 25px 0;
  }
  p {
    color: #01384d;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    padding: 20px 0 10px;
  }
  img {
    width: 407px;
    height: 300px;
    flex-shrink: 0;
  }
}
.home-two-card:nth-child(2) {
  h1 {
    padding: 5px;
  }
  a {
    padding-top: 10px;
  }
  p {
    padding: 10px;
  }
}
.home-box {
  width: 400px;
}
.home-two-card {
  border: 2px solid #01384d;
  border-radius: 5px;
  background: #fff;
}
.heroes {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.hometwo-hero {
  display: flex;
  justify-content: center;
  width: 100%;
  .home-two-top {
    width: 100%;
  }

  h1 {
    color: #01384d;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
  }
  p {
    color: #01384d;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 162.5% */
    padding: 10px 0;
  }
  .home-two-ul1 {
    border-radius: 8px;
    border: 2px solid #01384d;
    background: #eabf9f;
    margin-right: 25px;
    padding: 25px;
    li {
      list-style: disc;
    }
  }
}
.home-two-ul {
  border-radius: 8px;
  border: 2px solid #01384d;
  background: #eabf9f;
  margin: 10px 0;
  padding: 25px;
  list-style: disc;
  li {
    color: #01384d;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 14px;
  }
}
span.ol__span__title {
  margin-top: 30px;
  color: #01384d;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.home-cards-title {
  color: #01384d;
  text-align: center;
  font-family: Raleway;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.home-cardss {
  display: flex;
  justify-content: center;
  gap: 20px;
  div {
    width: 400px;
    height: 400px;
    border-radius: 3px 3px 0 0;
    h1 {
      color: #01384d;
      text-align: center;
      font-family: Raleway;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 20px 0;
    }
    p {
      color: #01384d;
      text-align: center;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }
}
.input-tel {
  padding: 35px 0;
  text-align: center;
  margin-left: 130px;
  margin-top: 20px;
}

.input-tel:hover {
  text-decoration: underline;
  color: #01384d;
}
.home-about {
  h1 {
    color: #01384d;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 0;
  }
  h3 {
    color: #01384d;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 15px 0;
  }
  p {
    color: #01384d;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
  }
  button {
    border-radius: 5px;
    border: 2px solid #01384d;
    background: #fff;
    width: 300px;
    height: 50px;
    flex-shrink: 0;
    margin: 10px 0;
  }
}

// footers
.footer-big {
  width: 100%;
}
.footer__nav {
  color: #0a142f;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer {
  background: #eabf9f;

  height: 180px;
}
.footers {
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 250px;
  h1 {
    color: #01384d;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
  }
  p.subtitle {
    color: #01384d;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
  }

  button {
    border-radius: 5px;
    background: #01384d;
    color: #fff;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 13px 20px;
  }
  .tel__code,
  input {
    color: #01384d;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}
.footer-bottom-title {
  color: #01384d;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

.vizitka {
  text-align: center;
  transition: 0.5s;
  h3 {
    margin: 0 auto;
    width: 455px;
    color: #01384d;
    text-align: center;
    font-family: Josefin Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
  }
  p {
    margin-top: 15px;
    color: #01384d;
    font-family: Josefin Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

//responsive

@media only screen and (max-width: 768px) {
  .hero__title {
    font-size: 35px;
    padding-bottom: 50px;
    width: 100%;
  }
  .left__bottom {
    display: none;
  }
  .hero__right-two {
    display: flex;
    justify-content: center;
    width: 500px;
  }
  .hero__right {
    display: none;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .categ__btn {
      display: flex;
      justify-content: center;
      margin-left: 50px;
      .flex-line {
        display: flex;
        justify-content: center;
      }
      .flex-categ {
        display: flex;
        justify-content: center;
      }
    }
  }
  .statistics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .our__products {
    display: grid;
    grid-template-columns: repeat(1, 1.25fr);
    .products__title {
      font-size: 28px;
    }
  }
  .nav__model {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .product__card {
    display: grid;
    grid-template-columns: repeat(1, 600px);
  }
  .card__left {
    width: 100%;
  }
  .card__right {
    width: 120%;
    .product__info {
      display: grid;
      grid-template-columns: repeat(2, 0.85fr);
    }
    p {
      font-size: 14px;
      padding-right: 30px;
      line-height: 23px;
    }
  }
  .home-card {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 100%);
  }
  .home-boxs {
    display: block;
  }
  .home-box {
    display: block;
    width: 100%;
  }
  //HOME_TWO_HERO
  .hometwo-hero {
    display: block;
    width: 100%;
    padding: 0;
  }
  .home-two-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .hero-cloud {
    display: flex;
    justify-content: center;
  }
  .cloud-hero {
    display: none;
  }
  .hometwo-hero-top {
    display: block;
    width: 100%;
    h1 {
      color: #01384d;
      font-family: Josefin Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      text-align: left;
      line-height: 36px;
      text-align: center;
      .br {
        display: none;
      }
    }
    p {
      color: #01384d;
      font-family: Josefin Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      text-align: center;
    }
    ul {
      margin-bottom: 15px;
    }
    ul li {
      color: #01384d;
      font-family: Josefin Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
    }
  }

  .home-cards {
    width: 100%;
    .home-two-card {
      width: 100%;
      img {
        width: 100%;
      }
    }
    h1 {
      color: #01384d;
      text-align: center;
      font-family: Josefin Sans;
      font-size: 33px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 3px 0;
      width: 100%;
      padding: 30px 0;
    }
    .home-cardss {
      display: block;
      width: 100%;
      text-align: center;
      .home-two-card {
        display: block;
        margin: 30px 0;
        height: 100%;
        padding-bottom: 30px;
        a {
          text-align: center;
          padding: 0;
        }
      }
    }
  }
  // FOOTERS
  .footer {
    height: 100%;
    width: 100%;
  }
  .footers {
    display: block;

    width: 100%;
    h1 {
      font-size: 33px;
      text-align: center;
    }
    p {
      font-size: 18px;
      text-align: center;
    }
  }
  .foter {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-center {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    .social {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 13px;
      padding: 10px 0;

      color: #01384d;
      font-family: Josefin Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    .foter-botom {
      display: flex;
      justify-content: center;
    }
    .foter-arrow {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
    .foter-vizitka {
      display: flex;
      justify-content: center;
    }
  }

  // ADRESS
  .home-about {
    h1 {
      font-size: 43px;
      display: block;
      text-align: center;
    }
  }
  .adress-is {
    display: block;
  }
  .adres-top {
    padding: 20px 0;
    display: block;
    h3 {
      font-size: 30px;
      text-align: center;
      padding: 7px 0;
    }
    p {
      text-align: center;
      font-size: 18px;
    }
  }
  .adres-bottom {
    display: flex;
    justify-content: center;
  }
  .adres-location {
    display: flex;
    justify-content: center;
  }
  .adres-img {
    display: flex;
    justify-content: center;
  }

  // TECHNOLOGIES
  .home-card {
    width: 100%;
    display: block;
    .home-card-title {
      font-size: 35px;
      text-align: center;
    }
    .home-box {
      display: block;
      width: 100%;
      margin: 0;
      padding: 0;
      div h1 {
        text-align: center;
      }
      .iframe {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0;
        padding: 0;
      }
    }
  }
  .statistics {
    margin-top: 90px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    .stat__number {
      color: #01384d;
      text-align: center;
      font-family: Raleway;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 20px;
    }
    .number__subtitle {
      color: #01384d;
      text-align: center;
      font-family: Raleway;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
}
@media only screen and (max-width: 500px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .left__bottom {
    display: none;
  }
  .Icon-Header {
    display: flex;
  }
  .header__naw {
    display: none;
  }
  .stat__number {
    font-size: 20px;
  }

  .statistics {
    margin-top: 50px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    .stat__number {
      color: #01384d;
      text-align: center;
      font-family: Raleway;
      font-size: 30px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-top: 20px;
    }
    .number__subtitle {
      color: #01384d;
      text-align: center;
      font-family: Raleway;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .hero__right-two {
    display: block;

    width: 300px;
  }
  .hero__right {
    display: none;
  }
  .categ__btn {
    justify-content: center;
    text-align: center;
  }

  .nav__model {
    ul {
      display: flex;
      width: 100%;
      li {
        color: #01384d;
        text-align: center;
        font-family: Josefin Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
    }
  }
  .hero__title {
    font-size: 22px;
  }
  .popover {
    ul li {
      font-size: 14px;
      margin: 0;
      padding: 0;
    }
  }
  .our__products {
    display: grid;
    .products__title {
      font-size: 18px;
    }
  }
  .nav__model {
    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      li {
        font-size: 16px;
        padding: 0;
      }
    }
  }
  .aksiya {
    font-size: 16px;
    margin: 0;
    padding: 5px 15px;
  }

  .product__card {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .card__left {
    width: 100%;
  }
  .footer {
    height: 100%;
    width: 100%;
  }
  .footers {
    display: block;

    width: 100%;
    h1 {
      font-size: 28px;
      text-align: center;
    }
    p {
      font-size: 16px;
      text-align: center;
    }
  }
  .foter {
    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .footer-center {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    .social {
      display: flex;
      justify-content: center;
      padding: 7px 0;
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 8px;
      padding: 7px 0;

      color: #01384d;
      font-family: Josefin Sans;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .footer-bottom {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
    .foter-botom {
      display: flex;
      justify-content: center;
    }
    .foter-arrow {
      display: flex;
      justify-content: center;
      padding: 10px 0;
    }
    .foter-vizitka {
      display: flex;
      justify-content: center;
    }
  }
  //ADRESS
  .home-about {
    h1 {
      font-size: 33px;
      display: block;
      text-align: center;
    }
  }
  .adress-is {
    display: block;
  }
  .adres-top {
    padding: 20px 0;
    display: block;
    h3 {
      font-size: 25px;
      text-align: center;
      padding: 7px 0;
    }
    p {
      text-align: center;
      font-size: 16px;
    }
  }
  .adres-top {
    padding: 20px 0;
    display: block;
    h3 {
      font-size: 25px;
      text-align: center;
      padding: 7px 0;
    }
    p {
      text-align: center;
      font-size: 18px;
    }
  }
  .adres-bottom {
    display: flex;
    justify-content: center;
  }
  .adres-location {
    display: flex;
    justify-content: center;
  }
  .adres-img {
    display: flex;
    justify-content: center;
  }
  //HOME_TWO
  .hometwo-hero {
    display: block;
    width: 100%;
    padding: 0;
  }
  .home-two-top {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .hero-cloud {
    display: flex;
    justify-content: center;
  }
  .cloud-hero {
    display: none;
  }
  .hometwo-hero-top {
    display: block;
    width: 100%;
    h1 {
      color: #01384d;
      font-family: Josefin Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      text-align: left;
      line-height: 36px;
      text-align: center;
      .br {
        display: none;
      }
    }
    p {
      color: #01384d;
      font-family: Josefin Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      text-align: center;
    }
    ul {
      margin-bottom: 15px;
    }
    ul li {
      color: #01384d;
      font-family: Josefin Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 17px;
    }
  }

  .home-cards {
    width: 100%;
    .home-two-card {
      width: 100%;
      img {
        width: 100%;
      }
    }
    h1 {
      color: #01384d;
      text-align: center;
      font-family: Josefin Sans;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 3px 0;
      width: 100%;
      padding: 30px 0;
    }
    .home-cardss {
      display: block;
      width: 100%;
      text-align: center;
      .home-two-card {
        display: block;
        margin: 30px 0;
        height: 100%;
        padding-bottom: 30px;
        a {
          text-align: center;
          padding: 0;
        }
      }
    }
  }
}
