
.active{
    background-color: #EABF9F;
}
.adminbtn{
    /* background-color: #01384D; */
    padding-left: 40px;
    display: flex;
    width: 100%;
    height: 60px;
    border: none;
    align-items: center;
    gap: 5px;
    /* background-color: transparent; */
    transition: calc(0.2s);
}
.adminbtn:hover{
    background-color: #EABF9F;
}
