@tailwind base;
@tailwind components;
@tailwind utilities;


html{
    scroll-behavior: smooth;
}
.container{
    margin: 0 auto;
    padding:  0 16px;
    overflow: hidden;
}
.dnone{
    display: none;
}